# dependencies
node_modules/

# build / temporary directories
dist/
.astro/
.wrangler/

# environment variables
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
